

.imagenPlanner{
    text-align: center;
    width: 250px;
}

.section{
    justify-content: left
}

.tituloPlanner{
    text-align: center;
}

.row{
    margin-bottom: 0;
}

.buttons-section{
    padding-bottom: 1em;
}

.section3{
    padding-bottom: 3em;
}